// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// https://github.com/ProfessionalWiki/chameleon/blob/master/resources/styles/themes/_light.scss

// Grid ----------------------------------------------------------------------------------------------------------------
$cmln-collapse-point: 1105px !default;
$cmln-grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		cmln: $cmln-collapse-point,
		xl: 1200px,
		xxl: 1400px,
) !default;

.small-gutters {
  margin-right: -5px;
  margin-left: -5px;

  > .col,
  > [class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
  }
}

// Color system --------------------------------------------------------------------------------------------------------
$white:    #fff !default;
$gray-100: lighten(black, 98%) !default;		// #fafafa
$gray-200: lighten(black, 96%) !default;		// #f5f5f5
$gray-300: lighten(black, 90%) !default;		// #e6e6e6
$gray-400: lighten(black, 85%) !default;		// #d9d9d9
$gray-500: lighten(black, 75%) !default;		// #bfbfbf
$gray-600: lighten(black, 50%) !default;		// #808080
$gray-700: lighten(black, 32%) !default;		// #525252
$gray-800: lighten(black, 24%) !default;		// #3d3d3d
$gray-900: lighten(black, 18%) !default;		// #2e2e2e
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
		"100": $gray-100,
		"200": $gray-200,
		"300": $gray-300,
		"400": $gray-400,
		"500": $gray-500,
		"600": $gray-600,
		"700": $gray-700,
		"800": $gray-800,
		"900": $gray-900
), $grays);

@for $i from 1 through 9 {
  $val: $i * 100;
  .bg-gray-#{$val} {
	background-color: gray($val);
  }
}

$blue:     #39718b !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$red:      #dc3545 !default;
$orange:   #ffb300 !default;
$yellow:   #ffc107 !default;
$green:    #5CB85C !default;
$teal:     #20c997 !default;
$cyan:     #17a2b8 !default;

$chambray: #355b84;
$cobalt:   #1b599b;
$burgundy: #9b1b2f;

$colors: () !default;
$colors: map-merge((
		"blue":       $blue,
		"indigo":     $indigo,
		"purple":     $purple,
		"pink":       $pink,
		"red":        $red,
		"orange":     $orange,
		"yellow":     $yellow,
		"green":      $green,
		"teal":       $teal,
		"cyan":       $cyan,
		"white":      $white,
		"gray":       $gray-600,
		"gray-dark":  $gray-800
), $colors);

$primary:   $blue !default;
$secondary: $gray-600 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;
$error:     $danger !default;
$light:     $gray-200 !default;  // better contrast than $gray-100
$darker:    $gray-400 !default;
$dark:      $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
		"primary":    $primary,
		"secondary":  $secondary,
		"success":    $success,
		"info":       $info,
		"warning":    $warning,
		"danger":     $danger,
		"error":      $error,
		"light":      $light,
		"darker":     $darker,
		"dark":       $dark
), $theme-colors);
// stylelint-enable

$state-todo-text:     #432874;	//purple-700
$state-todo-bg:       #E2D9F3;	//purple-100
$state-todo-border:   #C5B3E6;	//purple-200

// Options -------------------------------------------------------------------------------------------------------------
// https://getbootstrap.com/docs/5.0/customize/options/

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              true !default;	// default: false
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-container-classes:    true !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

// Gradient ------------------------------------------------------------------------------------------------------------

// Spacing -------------------------------------------------------------------------------------------------------------

// Position ------------------------------------------------------------------------------------------------------------

// Body ----------------------------------------------------------------------------------------------------------------
$body-bg:    $white !default;
$body-color: $gray-800 !default;

// Paragraphs ----------------------------------------------------------------------------------------------------------

// Components (common padding and border radius sizes and more) --------------------------------------------------------
$border-radius:      .19rem !default;	//.375
$border-radius-sm:   .19rem !default;	//.25
$border-radius-lg:   .5rem !default;
$border-radius-xl:   1rem !default;
$border-radius-2xl:  2rem !default;
$border-radius-pill: 50rem !default;

// Cards ---------------------------------------------------------------------------------------------------------------
$card-spacer-y: .5rem !default;
$card-spacer-x: 1rem !default;
$card-bg:       $gray-100 !default;
$card-cap-bg:   $gray-400 !default;

.card-header {
  padding-right: .5rem !important;
}

// Badges --------------------------------------------------------------------------------------------------------------

// Links ---------------------------------------------------------------------------------------------------------------
/*
$cmln-link-formats: (
		new: ('color': $burgundy, 'hover-color': darken($burgundy, 0.15)),
);
 */
$link-color: $cobalt;

// ... the second 'none' changes hover-decoration from 'underline'→'none'
$cmln-link-format: $link-color none darken($link-color, 0.15) none;
$cmln-link-formats: () !default;
$cmln-link-formats: map_merge((
		new: theme-color("danger") none darken(theme-color("danger"), 0.15) none,
		stub: $cmln-link-format,
		extiw: $cmln-link-format,
		external: $cmln-link-format,
), $cmln-link-formats);

$link-decoration: none !default;
$link-hover-decoration: none !default;

a:active {
  text-decoration: none;
}


// Typography ----------------------------------------------------------------------------------------------------------
$font-size-base: 0.9167rem !default; // 11pt / 14.6667px
$font-size-lg:   $font-size-base * 1.25 !default;
$font-size-sm:   $font-size-base * .95 !default;
$h1-font-size:   $font-size-base * 2.2 !default;
$h2-font-size:   $font-size-base * 1.7 !default;
$h3-font-size:   $font-size-base * 1.4 !default;
$h4-font-size:   $font-size-base * 1.2 !default;
$h5-font-size:   $font-size-base * 1.1 !default;
$h6-font-size:   $font-size-base * 1.0 !default;
$headings-color: $gray-800 !default;


// Tables --------------------------------------------------------------------------------------------------------------

// Buttons & Forms -----------------------------------------------------------------------------------------------------
.btn {
  box-shadow: none !important;
}

// Navbar
$navbar-light-color:                $gray-700 !default; // cmln: improved contrast
$navbar-light-hover-color:          darken($navbar-light-color, 0.15) !default;
$navbar-light-active-color:         darken($navbar-light-color, 0.3) !default;
$navbar-light-disabled-color:       fade_out($navbar-light-color, 0.3) !default;
$navbar-light-toggler-border-color: fade_out($navbar-light-color, 0.5) !default;

// PersonalTools
$cmln-personal-tools-link-new: ('color': $gray-600, 'hover-color': darken($gray-600, 0.15)) !default;

// PageTools
$cmln-page-tools-link-new: ('color': $gray-600, 'hover-color': darken($gray-600, 0.15)) !default;
