// Add some padding to title icons in search results
.mw-search-result-heading img {
  padding-bottom: 6px;
  opacity: 0.7;
}

// Add some padding to title icons in first headings
.firstHeading img {
  padding-bottom: 6px;
  opacity: 0.7;
}
