span#mwext-bc {
  top: unset;
  padding: unset;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: unset;
  border-style: none;
  color: $gray-600;
  font-size: $font-size-sm;
}

span#mwext-bc > a {
  color: $link-color;
}
