// Categories-Wrapper --------------------------------------------------------------------------------------------------

div#drilldown-categories-wrapper {
  display: none;
}

// Results -------------------------------------------------------------------------------------------------------------

div.drilldown-results {
  @extend .card;
//  background-color: $gray-200;
}

div#drilldown-header {
  @extend .card-header;
}

div#drilldown-header {
  min-height: calc(#{$font-size-lg} * 2);
}

div#drilldown-filters, div#drilldown-top-paging, div.drilldown-results-output, div#drilldown-footer, div.drilldown-results > div > p {
  @extend .card-body;
}

// Filters -------------------------------------------------------------------------------------------------------------
div#drilldown-filters {
  background-color: $gray-200;
}

div#drilldown-applicable-filters {
  border-bottom: unset !important;
}

// Filter --------------------------------------------------------------------------------------------------------------

.drilldown-filter {
  margin-bottom: 16px;

  input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
	position: relative;
	left: -12px;
	top: 1px;
  }

  // Don't wrap search button
  .ui-widget {
	display: inline-block;
  }

  // Input field
  .ui-widget input.ui-widget-content {
	width: 200px;
	padding: 6px 8px;
  }

  // Dropdown caret
  button.ui-button {
	width: 16px !important;
	padding: 6px 8px !important;
	height: 28px !important;
	background: none !important;
	border: none !important;
	position: relative;
	left: -19px;
	top: -2px;
  }
}

// show dropdown filters side-by-side
.drilldown-filter:not(.is-normal-filter) {
  display: inline-block;
  position: relative;
  width: 284px;
  vertical-align: top;
}

// Drilldown Top Paging ------------------------------------------------------------------------------------------------
div#drilldown-top-paging {
  border-top: 1px solid $card-cap-bg;
  padding-bottom: 0;
  margin-bottom: 0;
}

// Results Output ------------------------------------------------------------------------------------------------------
div.drilldown-results-output {
  padding-top: 0;
  margin-top: 0;
}

// Drilldown Footer / Paging -------------------------------------------------------------------------------------------
div#drilldown-footer {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

div.drilldown-results div.mw-paging {
  padding-right: $card-spacer-x;
}

// reset padding for top mw-paging
div#drilldown-top-paging div.mw-paging {
  padding-right: 0;
}
