// Forms

form#pfForm {
  // Tokens
  .pfTokens,
  // Combobox
  span.comboboxSpan div.oo-ui-widget,
  span.comboboxSpan div.oo-ui-comboBoxInputWidget-field,
  // Text
  span.inputSpan input.createboxInput {
	min-width: 450px !important;
	/* set max-width to avoid overflow of long text */
	max-width: 450px !important;
	@include media-breakpoint-down(sm) {
	  min-width: 330px !important;
	  max-width: 330px !important;
	}
  }
  // Textarea with VE
  span.ve-area-wrapper {
	@include media-breakpoint-down(sm) {
	  min-width: 330px !important;
	  max-width: 330px !important;
	}
  }

  // SemanticFormsSelect
  span.inputSpan.select-sfs {
	margin-bottom: unset;

	select.createboxInput {
	  // mimic oo-ui
	  background-image: none;
	  font-family: inherit;
	  font-size: inherit;
	  min-height: 2.28571429em;
	  min-width: 450px !important;
	  /* set max-width to avoid overflow of long text */
	  max-width: 450px !important;
	  @include media-breakpoint-down(sm) {
		min-width: 330px !important;
		max-width: 330px !important;
	  }
	}

	&:after {
	  background-color: #39718b;
	  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22 fill=%22white%22 viewBox=%220 0 12 12%22%3E %3Ctitle%3E down %3C/title%3E %3Cpath d=%22M9.9 2.9 6 6.8 2.1 2.9 1 4l5 5 5-5z%22/%3E %3C/svg%3E");
	  background-position: center;
	  background-repeat: no-repeat;
	  min-width: 39px;
	  border: none;
	}
  }

  .sfFieldRow {
	margin: 8px 0;
  }

  .sfFieldLabel {
	font-weight: bold;
	text-align: right;
	@include media-breakpoint-down(sm) {
	  text-align: left;
	  padding-bottom: .3rem;
	}

	.simple-tooltip-inline {
	  border-bottom: 1px solid #C8C8C8;
	  padding-bottom: 1px;
	}
  }

  .sfFieldLabel::after {
	content: "*";
	margin-left: 3px;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
	opacity: 0;
  }

  .mandatoryInput {
	.sfFieldLabel::after {
	  color: $red;
	  opacity: 1;
	}
  }

  .recommendedInput {
	.sfFieldLabel::after {
	  color: $orange;
	  opacity: 1;
	}
  }

  .multipleTemplateInstance {
	background-color: $gray-200;
	border-color: $card-border-color;
  }
}
