// Visual Editor -------------------------------------------------------------------------------------------------------
// ensure, that navbar-menus are above ve
div.ve-ui-toolbar > div.oo-ui-toolbar-bar {
  z-index: 1;
}

div.ve-ui-toolbar {
  div.oo-ui-toolbar-popups {
	a.oo-ui-tool-link {
	  // never disable inline-block, otherwise this will lead to Issue:2492
	  display: inline-block;
	}
  }
}

// Body ----------------------------------------------------------------------------------------------------------------
.mw-body {
  padding: 0;
}

// Feedback boxes
div.successbox {
  @extend .alert;
  @extend .alert-success;
}

div.messagebox {
  @extend .alert;
  @extend .alert-info;
}

div.errorbox {
  @extend .alert;
  @extend .alert-danger;
}

div.warningbox {
  @extend .alert;
  @extend .alert-warning;
}

// Fieldsets -----------------------------------------------------------------------------------------------------------
// see comments on https://github.com/ProfessionalWiki/Bootstrap/blob/608be3f55a87f3f1b6d37b7c2d0b5cb841191562/resources/bootstrap/scss/_reboot.scss#L399
.skin-chameleon fieldset {
  legend {
	padding: 0 !important;
	font-weight: bold;
	font-size: $h4-font-size;
  }
}

// Tables --------------------------------------------------------------------------------------------------------------
table.wikitable {

  background-color: #FFF;
  border: none;

  * > tr > td,
  * > tr > th {
	padding: 0.3em 0.6em;
	border-top: none;
	border-bottom: 1px solid $gray-300;
	border-left: none;
	border-right: none;

  }

  * > tr > th {
	background-color: $gray-300;
	text-align: left;
	padding-right: 1em;
	border-bottom: 1px solid $gray-300;

	a {
	  color: #000;
	}
  }

  tr:nth-child(2n),
  tr:nth-child(2n+1) {
	background: none;
  }

  tr:hover {
	background: $gray-300;
  }
}

.table-small {
  font-size: 0.85em;
}

.table-smaller {
  font-size: 0.75em;
}

.table-smallest {
  font-size: 0.70em;
}

// Tables within a gadget / panel
.panel table.wikitable, div.drilldown-result-body table.wikitable {
  background: none;
  margin: 0;
}
