// Default formats =====================================================================================================

// Custom / template formats ===========================================================================================

// News Stream && Activity Stream ==============================================
.mt-date-table-top {
  background-color: #DFDFDF;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 2px 8px;
}

.mt-date-table-bottom {
  background-color: #333;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: x-small;
  white-space: nowrap;
  padding: 2px 8px;
}

.rt-news-stream,
.rt-activity-stream {
  margin-bottom: 8px;
  border-bottom: 1px dotted #DDD;
}

.rt-news-stream-left,
.rt-activity-stream-left {
  vertical-align: top;
}

.rt-news-stream-right,
.rt-activity-stream-right {
  vertical-align: top;
  padding-left: 16px;
  padding-bottom: 8px;
  width: 100%;
}

.activity-stream-item {
  padding: 4px;
}

.activity-stream-date {
  color: #888;
  padding-top: 8px;
  text-align: right;
  font-size: 0.9em;
}

// RT Process Map ------------------------------------------------------------------------------------------------------
.rt-process-map-level-3-container {
  margin-bottom: 10px;
}

.rt-process-map-level-3 {
  height: 80px;
  padding: 6px 8px;
  //    margin-right: 18px;
  background: $primary;
  overflow: hidden;

  a,
  a:visited,
  a:hover {
	color: black;
  }
}

/*
.rt-process-map-level-3:after, .rt-process-map-level-3:before {
    content: "";
    position: absolute;
    right: 28px;
    width: 15px;
    height: 40px;
}
.rt-process-map-level-3:before {
    top: 0px;
    background: linear-gradient(to top right, @brand-primary 50%, rgba(255,0,0,0) 51%);
}
.rt-process-map-level-3:after {
    bottom: 0px;
    background: linear-gradient(to bottom right, @brand-primary 50%, rgba(255,0,0,0) 51%);
}
*/
